.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/* ***************** */

body{
    background-color: hsl(235, 18%, 26%);
}

main{
    margin-top:10rem
}

span{
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 40%;
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
}
@media (max-width:900px){
    main{
    margin-top:1rem
}
    .contenedor{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
        width: 60%;
    }
}
@media (max-width:500px){
    main{
    margin-top:0rem
    }

    .contenedor{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding: 0px;

    }
    body{
        background-color: hsl(0, 0%, 100%);
    }
}
.columnaizq{
    padding: 2rem 4rem 2rem 2rem;
}

.columnader img {
    width: 100%;
}
.imgmob{
    display: none;
}

@media (max-width:500px){
    .imgdesk{
    display: none;
    }

    .imgmob{
    display: block;
    }
}

.icono{
    transform: scale(.8);
}

.stay,.thank{
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    font-size: 3.4rem;
}

.join,.confir{
    color: hsl(234, 29%, 20%);
    margin-top: 1rem;
}

@media (max-width:500px){
    .join,.confir{
    color: hsl(234, 29%, 20%);
    font-size: 1.6rem;
    margin-top: 2rem;
    }
}

.grilla{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product{
    margin-top: 1rem;
}

.cont_form{
    margin-top: 2rem;
}

@media (max-width:500px){
    .grilla{
        font-size: 1.6rem;
    }
    .product{
    margin-top: 2rem;
    }
}

.form_titulo{
    font-weight: 700;
}

.form_campo{
    margin-top: 0.5rem;
}

.form_campo input{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid hsla(231, 7%, 60%,0.5);
}

.form_campo input::placeholder {
  color: hsla(231, 7%, 60%,0.6);
}


.form_boton,.boton_dis{
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color:hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.form_boton:hover,.boton_dis:hover{
    background:linear-gradient(90deg, hsl(339, 100%, 67%), hsl(4, 100%, 67%));
}

/*   start success  */

.contenedorenviado{
    display: none;
    width: 25%;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    padding: 3rem;
}

@media (max-width:500px){
.contenedorenviado{
    width: 100%;
    padding: 3rem;
    margin-top: 10rem;
    }
}

.negrita{
    font-weight: 700;
}

.imagensuccess{
    transform: scale(.5);
    margin-left: -30%;

}

@media (max-width:500px){
    .imagensuccess{
    transform: scale(1);
    margin-left: 0px;
    margin-bottom: 2rem;
    }
    .boton_dis{
        margin-top: 20rem;
    }
}

.doscol{
    display: grid;
    grid-template-columns: 50% 50%;
}

.der{
    text-align: right;
    color:hsl(4, 100%, 67%);
    font-weight: 700;
    display: none;
}


footer{
    margin-top: 3rem;
    color: white;
}
@media (max-width:500px){
    footer{
    margin-top: 3rem;
    color: black;

    }
}